*{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(to right, #b8dafc,pink);
    flex-direction: column;

}
.quotes{
    border: 5px solid black;
    width: 65vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left,lightblue,pink);
}
button{
    border-radius: 25px;
    height: 45px;
    background-color: lightblue;
    border: 2px solid black;
    font-weight: 900;
    color: black;
    cursor: pointer;
    margin-top: 25px;
}
button:hover{
    transform: scale(1.05);
}